{#
/**
 * @file
 * Default theme implementation for a 'card' form element.
 */
#}
{% set ranks = {
  2: '2',
  3: '3',
  4: '4',
  5: '5',
  6: '6',
  7: '7',
  8: '8',
  9: '9',
  10: '10',
  11: 'J',
  12: 'Q',
  13: 'K',
  14: 'A'
} %}

{%
  set suits = {
    1: 'Club (♧)',
    2: 'Diamond (♢)',
    3: 'Heart (♥)',
    4: 'Spade (♤)'
  }
%}

<select name="{{ name }}" class="poker-adviser-card {{ class }}" {% if required %}required{% endif %}>
  <option value=""> - Select - </option>
  {% for suit_key, suit in suits %}
    {% for rank_key, rank in ranks %}
      {% set rank_code = (rank_key >= 10) ? [suit_key, rank_key, 0]|join('') : [suit_key, 0, rank_key, 0]|join('') %}
      <option value="{{ rank_code }}" {% if (post[name] is defined) and post[name] == rank_code %}selected{% endif %}>{{ rank }} {{ suit }}</option>
    {% endfor %}
  {% endfor %}
</select>
